.hisab
{
    background-color: white;
   display: flex;
    
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;


}
.ADDMEMBER
{
    border-radius: 20px;
    width: 60%;
    height: 34px;
border-style: none;

background-color:#172D13;
    margin-top: 9px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;





}
.ADDMEMBER:hover{
    cursor: pointer;
}
.detailmem{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: #6BB77B;
   margin: auto;
    width: 264px;
    height: 200px;
    border-radius: 8px;
    gap: 6px;
}
.detailmem input {
border-radius: 4px;
border-style:none ;
color: grey;
width: 80%;
height: 26px;
background-color: aliceblue;
margin-top: 19px;
outline: none;





}
.detailmem button{
    border-radius: 20px;
    width: 60%;
    height: 34px;
border-style: none;


    margin-top: 9px;

}
.detailmem button:hover{
    cursor: pointer;
    transition: ease-in-out 0.6s;
    transform: scale(1.08);
}


.NOADDMEMBER{
    display: none;
}
.nodetailmen{
    display:none;

}




.membernaruto{
    transition: ease-in-out 1s;
    transform: translate(0%);
width: 25%;
    
}
.nomembernaruto{
    transition: ease-in-out 0.2s;
    transform: translateX(-1500%);
   
    position: absolute;
}
.money{
    transition: ease-in-out 1s;
    transform: translate(0%);

;
}
.nomoney{
    transition: ease-in-out 1s;
    transform: translatey(-1500%);
    position: absolute;

}
.debt{
    transition: ease-in-out 1s;
    transform: translatex(0%);
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    border-radius: 9px;

}
.nodebt{
    transition: ease-in-out 0.7s;
    transform: translatex(11500%);
    position: absolute;
}



.adam{
    display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: #6BB77B;
   margin-top: 3px;
}
@media(max-width:550px){

    .membernaruto{
        width: 100%;
    }
    .debt{
        width: 100%;
    }
}


@media( (min-width:550px)){
    .membernaruto{
        width: 70%;
    }


}