.black{
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#618264;
    color:white;
    border-radius: 6px;
    margin:11px;
    width: 80%;
   
}
.black h2{
    color:white;
    margin: 8px;
    width: 50%;
}
.black p{
    width: 23%;
margin: 6px;

}
@media(max-width:550px){
    .black{
        width: 98%;

    }
    .black p{
        width: 45%;
    margin: 6px;
    text-align: center;
    
    }


}