
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#172D13;
    text-align:center;
    color:white;
  
    
   
    width: 100%;
   
    height:5%;
    


}



@media(max-width:700px){
.footer{

    margin-top: 28px;
       height: 34px;

    
 
    
}}