#root{
 position: relative;
    background-color:white;
    overflow: hidden;
    width: 100%;

}
*{
    margin: 0%;
    padding: 0%;
}
@media(max-width:700px){
    #root{
        overflow: scroll;
        width: 100%;
        height: auto;

       
    }
    
    
    
    }