#root{
 position: relative;
    background-color:white;
    
    width: 100%;

}
body{
    font-family: 'Young Serif', serif;
    font-family: 'Ysabeau', sans-serif;


}





*{
    margin: 0%;
    padding: 0%;
}
@media(max-width:700px){
    #root{
     
        width: 100%;
       

       
    }
    
    
    
    }
    @media((max-width:1200px)) and (min-width:700px){
        #root{
            overflow: scroll;
            width: 100%;
          
      
    
           
        }
        
        
        
        }